{
  "extends": "airbnb",
  "env": {
    "node": true,
  },

  "rules" : {
    "strict": [0, "global"],
    comma-dangle: ["error", "never"],
    "max-len": ["error", 120],
    "key-spacing": ["error", { "beforeColon": true }]
  }
}
